<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>바코드 인식을 위한 카메라</string>
	<key>NSFaceIDUsageDescription</key>
	<string>이 앱은 Face ID를 사용하여 로그인 합니다.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UIImageName</key>
		<string>SplashLogo</string>
	</dict>
</dict>
</plist>
